@use 'vars' as v;
@use 'maxins' as m;

body {
    color: v.$color-body;
    background: v.$bg-primary;
}

a {
    cursor: pointer;
    color: v.$color-body;
    padding: 8px;
    display: flex;
    border-radius: 50%;

    &:hover, &.active {
        background: v.$bg-a-hover;
    }
}

.hover- {
    &email {
        &:hover{
            color: v.$color-email;
        } 
    }

    &github {
        &:hover{
            color: v.$color-github;
        } 
    }

    &linkedin {
        &:hover{
            color: v.$color-linkedin;
        } 
    }

    &facebook {
        &:hover{
            color: v.$color-facebook;
        } 
    }   
    
    &whatsapp {
        &:hover{
            color: v.$color-whatsapp;
        } 
    }   
}

.d-flex {
    display: flex !important;
}

.fd-column {
    flex-direction: column !important;
}

.fd-row {
    flex-direction: row !important;
}

.fs-12px {
    font-size: 12px;
}

.mt-10px {
    margin-top: 10px;
}

.mt-20px {
    margin-top: 20px;
}

.gap-5px {
    gap: 5px;
}

.gap-10px {
    gap: 10px;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.color-primary {
    color: v.$color-primary;
}

.color-secondary {
    color: v.$color-secondary;
}

.color-grey {
    color: v.$color-grey;
}

.color-grey-2 {
    color: v.$color-grey-2;
}

.color-grey-3 {
    color: v.$color-grey-3;
}

.text-animated {
    //font-size: clamp(1em, 2.5vw, 1em);
    background: linear-gradient(90deg, v.$color-primary, v.$color-secondary, v.$color-primary) 0 0 / 400% 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: move-bg 8s infinite linear;
}

.navbar {
    @include m.w-h(100%, v.$navbar-height);
    top: 0;
    right: 0;
    position: fixed;
    padding: 10px;
    z-index: 99;
    box-sizing: border-box;

    .body {
        @include m.w-h(100%, 100%);
        display: flex;
        padding: 0 10px 0 10px;
        background: v.$bg-secondary;
        border: 1px solid v.$color-border;
        border-radius: v.$border-radius;
        box-sizing: border-box;

        ul {
            display: flex;
            gap: 5px;
            align-items: center;
            list-style: none;            
        }
    }    
}

.container {
    padding: 0 10px 0 10px;

    .element{
        height: 100vh;
        padding-top: calc(v.$navbar-height);
        box-sizing: border-box;

        .page {
            height: calc(100% - v.$navbar-height + 10px);
            display: flex;
            flex-direction: column;
            align-items: center; 
            padding: 24px;
            background: v.$bg-secondary;
            border: 1px solid v.$color-border;
            border-radius: v.$border-radius;
            gap: 15px;
            overflow-x: auto;
            
            .header {
                display: flex;
                flex-direction: column;
                width: 100%;
                
                .path {
                    color: v.$color-grey;
                    font-size: 14px;
                    display: flex;
                    gap: 5px;
                    margin-bottom: 14px;

                    .circle {
                        color: v.$color-grey-3;
                        font-size: 12px;
                    }
                }

                .info {
                    color: v.$color-grey-2;
                    font-size: 12px;
                }
            }

            .body {
                @include m.w-h(100%, 100%);
                display: flex;
                flex-direction: column;
                justify-content: center;

                .skills {
                    justify-content: center;
                    flex-wrap: wrap;    
                    overflow-x: auto;            

                    .card {
                        flex: 1 1 100% !important;
                    }
                }
                
                .card, .card-2 {
                    height: auto;
                    background: v.$bg-card;
                    border-radius: v.$border-radius;
                    border: 1px solid v.$color-border;
                    padding: 20px 20px 20px 20px;
                    width: 100%;
                    box-sizing: border-box;
                    overflow-x: auto;

                    p {
                        text-align: justify;
                        line-height: 22px;
                    }
                }
                
                .card {
                    width: auto;
                }

                .card-2 {
                    max-width: 1200px;
                }
            }
        }
    }
    
}

.aboutme {
    display: flex;
    gap: 20px;

    .contact{
        display: flex;
        flex-direction: column;
        gap: 10px;

        .img {
            position: relative;
            background: linear-gradient(v.$color-primary , v.$color-secondary);
            border: 1px solid v.$color-border;
            padding: 10px;
            border-radius: 50%;
            box-sizing: border-box;
    
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: inherit;
                border-radius: 50%;
                animation: rotate360 3s linear infinite;
                z-index: 0;
            }
    
            .src {
                @include m.w-h(100%, 100%);
                min-width: 200px;
                min-height: 200px;
                position: relative;
                background-image: url(../../images/me.jpeg);
                background-repeat: no-repeat;
                background-size: contain;
                border-radius: 50%;
                z-index: 1;
            }
        }

        .social {
            display: flex;
            justify-content: center;
            gap: 2px;
        }
    }    

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .text {
            margin-top: 10px;
            max-height: 200px;       
        }
    }

    @media (max-width: 750px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.my-skills {
   display: flex;
   gap: 8px;
   flex-wrap: wrap;
}

.skill-bar {
    @include m.w-h(160px, 45px);
    position: relative;
    flex: 1 1 30%;
    display: flex;
    background: v.$bg-element;
    border-radius: v.$border-radius;

    .text {
        @include m.w-h(100%, 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        position: absolute;
        padding-top: 2px;

        .per {
            margin-top: 1px;
            font-size: 15px;
        }
    }
    
    .bar {
        @include m.w-h(0, 100%);
        border-radius: v.$border-radius;
        transition: width 0.3s ease-in-out;
        background-image: linear-gradient(
            45deg,
            hsla(0, 0%, 100%, 0.15) 25%,
            transparent 0,
            transparent 50%,
            hsla(0, 0%, 100%, 0.15) 0,
            hsla(0, 0%, 100%, 0.15) 75%,
            transparent 0,
            transparent
        );
        background-size: 40px 40px;
        -webkit-animation: move-bg-2 2s linear infinite;
	    animation: move-bg-2 2s linear infinite;
    }
}

@media (max-width: 750px) {
    .skill-bar {
        flex: 1 1 100%;
    }
    
    .overflow-x {
        overflow-x: auto;
        padding-right: 8px;        
    }
}

@keyframes rotate360 {
    100% {
        transform: rotate(0);
    }
    0% {
        transform: rotate(360deg);
    }
}

@keyframes move-bg {
    to {
        background-position: 400% 0;
    }
}

@keyframes move-bg-2 {
	0% {
		background-position: 40px 0;
	}

	to {
		background-position: 0 0;
	}
}