@use 'vars' as v;

html {
    font-size: v.$html-fs;
}

* {
    font-family: Arial, sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;   
    height: 8px;  
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: v.$border-radius;
    border: 1px solid v.$color-border;
    background: v.$bg-secondary; 
}
